<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>87853709676-u4ffr0ehtg99gj7tqk3s7fkslh7ra05p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87853709676-u4ffr0ehtg99gj7tqk3s7fkslh7ra05p</string>
	<key>API_KEY</key>
	<string>AIzaSyARJkoL6iGUhusdwkfjCBcKP1SW9L5bz28</string>
	<key>GCM_SENDER_ID</key>
	<string>87853709676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opparangcafe</string>
	<key>PROJECT_ID</key>
	<string>opparangcafe</string>
	<key>STORAGE_BUCKET</key>
	<string>opparangcafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:87853709676:ios:2fe6e454103799b4</string>
	<key>DATABASE_URL</key>
	<string>https://opparangcafe.firebaseio.com</string>
</dict>
</plist>